{{!-- <div class='flex justify-center mt-12'>
  <div class='w-1/2'>
    <h2 class='text-6xl font-bold m-4 text-center'>Login</h2>

    <form class='flex justify-center flex-col gap-4'>
      <div class='w-full'>
        <label for='email' id='username-input' class='text-4xl mr-4 mb-4'>Username:</label>
        <input
          type='email'
          class='w-full rounded-md p-2 mt-4 text-xl'
          placeholder='Enter email here'
        />
      </div>
      <div class='w-full'>
        <label for='password' class='text-4xl mr-4 mb-4'>Password:</label>
        <input
          type='password'
          id='password-input'
          class='w-full rounded-md p-2 mt-4 text-xl'
          placeholder='Enter your password here'
        />
      </div>
      <div class='flex justify-between items-center'>        
      <button type='submit' id='login-btn' class='bg-gray-500 hover:bg-gray-700 font-bold py-2 px-4 border border-black rounded w-24'>Submit</button>
      <p class='font-semibold text-xl'>Don't have an accout, <a type="button" class='text-red-600 hover:underline hover:font-extrabold' href="/signup">Sign up here!</a></p>
      </div>
    </form>
  </div>
</div> --}}


<div class='bg-grey-lighter min-h-screen flex flex-col'>
  <div
    class='container max-w-xl mx-auto flex-1 flex flex-col items-center justify-center px-2'
  >
    <div
      class='bg-slate-200 px-6 py-10 rounded-lg shadow-md text-black w-full h-[650px]'
    >
      <h1 class='my-6 text-6xl text-center'>Log In</h1>
      <input
        type='text'
        class='block border border-grey-light w-full p-3 rounded mb-12'
        name='username'
        placeholder='Username'
      />     

      <input
        type='password'
        class='block border border-grey-light w-full p-3 rounded mb-12'
        name='password'
        placeholder='Password'
      />

      <button
        type='submit'
        class='w-full bg-gray-500 hover:bg-gray-700 text-2xl font-bold py-2 px-4 border border-black rounded'
      >Create Account</button>

    </div>

    <div class='text-grey-dark text-xl mt-6'>
      Don't have an account?
      <a
        class='no-underline border-b border-blue text-red-600 hover:underline hover:font-bold'
        href='/signup'
      >
        Sign Up
      </a>.
    </div>
  </div>
</div>





<script src'/js/login.js'></script>